* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(135deg, rgba(0, 255, 28, 0.5), rgba(0, 100, 255, 0.82), rgba(120, 39, 143, 0.55));
    background: -o-linear-gradient(135deg, rgba(0, 255, 28, 0.5), rgba(0, 100, 255, 0.82), rgba(120, 39, 143, 0.55));
    background: linear-gradient(135deg, rgba(0, 255, 28, 0.5), rgba(0, 100, 255, 0.82), rgba(120, 39, 143, 0.55));
}

#clock {
    width: 20rem;
    height: 20rem;
    border: 1rem solid #ffc600;
    border-radius: 50%;
}

#clock-face {
    width: 100%;
    height: 100%;
    position: relative;
}

#dial {
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 5px solid #ffc600;
    border-radius: 50%;
    position: absolute;
    top: 51.15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hand {
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
}

.hour-hand {
    width: 30%;
    left: 20%;
}

.minute-hand {
    width: 40%;
    left: 10%;
}

.second-hand {
    width: 50%;
    height: 4px;
    top: 50.4%;
    left: 10%;
    transform-origin: 80%;
}